* {
  box-sizing: border-box;
}

.main {
  position: relative;
  left: 0;
  bottom: 0;
  top: 0;
  border-style: groove;
}

.side {
  position: relative;
  right: 0;
  bottom: 0;
  top: 0;
  border-style: groove;
}

.color {
  display: inline-block;
  height: 48px;
  width: 48px;
}

.color.black {
  background-color: black;
}
.color.red {
  background-color: red;
}
.color.green {
  background-color: green;
}
.color.blue {
  background-color: blue;
}
.color.yellow {
  background-color: yellow;
}
